{% extends 'base.html' %}

{% block conteudo %}
    <h2>Editar jogo</h2>

    <form class="form-editar" action="" method="POST">
        {{form.hidden_tag()}}

        <p>
            {{ form.titulo.label }} <br>
            {{ form.titulo(size=40) }} <br>

            {% for error in form.titulo.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.genero.label }} <br>
            {{ form.genero(size=40) }} <br>

            {% for error in form.genero.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.plataforma.label }} <br>
            {{ form.plataforma(size=40) }} <br>

            {% for error in form.plataforma.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>{{ form.submeter() }}</p>

    </form>

{% endblock %}